@page
@model ProjectPRN231.Pages.HomePageModel

<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <h1>Stories</h1>

    <div>
        <label for="genreDropdown">Filter by Genre:</label>
        <select id="genreDropdown" name="genre" onchange="location = this.value;">
            <option value="/HomePage">All Genres</option>
            @foreach (var genre in Model.Genres)
            {
                <option value="/HomePage?page=@Model.CurrentPage&genreId=@genre.GenreId" @(Model.SelectedGenreId == genre.GenreId ? "selected" : "")>@genre.Name</option>
            }
        </select>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <div class="row">
                    @foreach (var story in Model.Stories)
                    {
                        <div class="col-md-3">
                            <div class="card mb-4">
                                <img src="@story.CoverImage" class="card-img-top" alt="@story.Title">
                                <div class="card-body">
                                    <h5 class="card-title">@story.Title</h5>
                                    <p class="card-text">by @story.Author</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    

    <div>
        @if (Model.TotalPages > 1)
        {
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                            <a href="/HomePage?page1=@i&genreId=@Model.SelectedGenreId">@i</a>
                        </li>
                    }
                </ul>
            </nav>
        }
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
