@page
@model Client.Pages.Admin.StoryManage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Story</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Story.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Story.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Story.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Story.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Story.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Story.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Story.CoverImage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Story.CoverImage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Story.IsApproved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Story.IsApproved)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Story.PublishDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Story.PublishDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Story.IsDelete)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Story.IsDelete)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Story.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Story.Genre.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Story.StoryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
